.contacts {
  background-color: $bg-section;
  padding: 50px 110px 0 110px;
  .contacts__wrapper {
    @include baseWidth;
    display: flex;
    justify-content: space-between;
    .contacts__heading {
      font-family: $inika;
      color: $main-green;
      font-size: 40px;
      font-weight: 700;
      margin: 11px 0 0 45px;
    }

    .contacts__contactsDropDown {
      margin-top: 101px;
    }
  }
} 

.contactsDropDown {
  background: #D6E7D2;
  width: 450px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 5px 35px 5px 20px;
  display: flex;
  justify-content: space-between;
  .contactsDropDown__title {
    font-family: $inter;
    font-size: 20px;
    color: $main-lightGray;
    margin: auto 0;
  }

  .contactsDropDown__btn {
    width: 16px;
    height: 16px;
    background-color: #AEA1A1;
    border-radius: 50%;
    border: none;
    position: relative;
    margin: auto 0;
    &::after {
      content: '';
      position: absolute;
      left: 37%;
      top: 50%;
      border: solid #FFFFFF;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg) translateY(-50%) translateX(-50%);
    }
  }
}

@media (max-width: 1439px) {
  .contacts {
    padding: 40px 0px 0 0px;
    .contacts__wrapper {
      flex-direction: column;
      align-items: center;
      .contacts__heading {
        order: -1;
        margin: unset;
      }
  
      .contacts__contactsDropDown {
        margin-top: 101px;
        margin-bottom: 250px;
        order: -1;
      }

      .contacts__img{
        max-width: 200px;
        height: 250px;
      }
    }
  } 
}

@media (max-width: 767px) {
  .contacts {
    padding: 25px 0px 0 0px;
    .contacts__wrapper {
      .contacts__heading {
        font-size: 25px;
      }
  
      .contacts__contactsDropDown {
        margin-top: 80px;
        margin-bottom: 130px;
      }

      .contacts__img{
        max-width: 100px;
        height: 125px;
      }
    }
  }

  .contactsDropDown {
    width: 300px;
    height: 50px;
  }
}

@media (max-width: 300px) {
  .contactsDropDown {
    width: 90%;
  }
}