.welcome {
  background-color: $bg-section;
  font-family: $inter;
  .welcome__wrapper {
    @include baseWidth;
    padding: 53px 100px;
    display: flex;
    justify-content: space-between;
    .welcome__descr {
      margin: auto 7px auto 0;
      .welcome__mainHeading {
        max-width: 550px;
        font-size: 45px;
        font-weight: 700;
        color: $main-lightGray;
        margin-bottom: 42px;
        .mainHeading__view {
          color: $main-green;
        }
      }

      .welcome__content{
        max-width: 525px;
        margin-bottom: 48px;
        line-height: 32px;
      }

      .welcome__btn {
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 1250px) {
  .welcome {
    .welcome__wrapper {
      padding: 39px 50px 68px ;
      flex-direction: row-reverse;
      .welcome__bg {
        max-width: 280px;
        height: 254px;
      }

      .welcome__descr {
        .welcome__mainHeading {
          font-size: 35px;
          max-width: 340px;
          line-height: 47px;
          margin-bottom: 30px;
        }
  
        .welcome__content{
          font-size: 16px;
          max-width: 325px;
          margin-bottom: 35px;
          line-height: 26px;
        }
      }
    }
  }
}